*~
auto.cgpr
obj/
bin/
lib/
_site/
WORD.MOD
WORD.MDV
DICTFILE.GEN
INDXFILE.GEN
INFLECTS.SEC
STEMFILE.GEN
CHECKEWD.
EWDSLIST.GEN
DICT.LOC
DICTFILE.LOC
STEMFILE.LOC
EWDSFILE.GEN
STEMLIST.GEN
src/latin_utils/latin_utils-config.adb
