<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Whitaker's Words: {{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
</head>

<body>
    <section class="page-header">
      <h1 class="project-name">William Whitaker's Words</h1>
      <h2 class="project-tagline">A digital Latin-English dictionary</h2>
      <a href="index.html" class="btn">Overview</a>
      <a href="installation.html" class="btn">Download &amp; Install</a>
      <a href="operational.html" class="btn">Operational Description</a>
      <a href="programme.html" class="btn">Programme Description</a>
      <a href="dictionary.html" class="btn">Dictionary</a>
      <a href="inflections.html" class="btn">Inflections</a>
      <a href="english_to_latin.html" class="btn">English to Latin</a>
      <a href="user_modifications.html" class="btn">User modifications</a>
      <a href="developers.html" class="btn">Ongoing Work</a>
    </section>
